:root {
    --bg-main: #f2f2f2;
    --bg-container: #eeeeee;
    --bg-button: #f0e8e8;
    --color-border: rgb(184, 167, 167);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-main);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;

}

.container {
    background-color: var(--bg-container);
    margin: 20px 0px;
    /*min-height: 95vh;*/
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: visible;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--bg-container);
}

.searchbar input {
    width: 50%;
    height: 40px;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    font-size: 1.1rem;
    margin: 0 20px;
    padding-left: 40px;
    border: none;
    border-bottom: 2px solid var(--color-border);
}

.searchbar input:focus {
    border: 2px solid var(--color-border);
    outline: none;
}

.searchbar input:active {
    outline: none;
}

.searchbar button {
    height: 40px;
    width: 10%;
    font-size: 1.1rem;
    cursor: pointer;
    border: 2px solid var(--color-border);
    background-color: var(--bg-button);
    border-radius: 5px;
}

.searchbar button:hover {
    font-weight: bold;
}

.result {
    width: 100%;
}

.result-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.result-container{
    height: auto;
    width: 70%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.poster,
.details {
    margin: 0 10px;
}

.poster{
    width: 40%;
    text-align: center;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.details{
    width: 60%;
}

p{
    margin-bottom: 15px;
}

.title{
    font-size: 1.6rem;
    font-weight: bold;  
}

.release-date{
    font-size: 1.3rem;
    font-weight: bold;
}

.loader-container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50% );
}

.loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: rotation 1.5s infinite;
}

@keyframes rotation {
    to {transform: rotate(1turn)};
}